$color-active: #55c57a;
$color-inactive: #e6e367;
$color-error: #e27a4a;
$color-fatal: #830f0f;

$primary-color: #0071B7;
$primary-color-light: #29A6DD;
$primary-color-light2: #C0E0EE;

$color-black: #000000;
$color-grey-dark: #4D4D4D;
$color-grey-light: #949494;
$color-grey-light2: #C7C7C7;
$color-grey-light3: #e1e1e1;
$color-grey-light4: #efefef;
$color-white: #ffffff;