<section class="gesture-explanation">
  <div class="gesture-explanation__header">Gesture Explanation</div>

  <div class="gesture-explanation__block">
    <div class="gesture-explanation__row">
      <div class="gesture-explanation__label-bold">Second Touch</div>
      <div class="gesture-explanation__label">Activates the context menu</div>
    </div>
    <div class="gesture-explanation__row">
      <div class="gesture-explanation__label-bold">Swipe Left-Right</div>
      <div class="gesture-explanation__label">Cycles the cutting plane orientation (XZ/YZ)</div>
    </div>
    <div class="gesture-explanation__row">
      <div class="gesture-explanation__label-bold">Swipe Right-Left</div>
      <div class="gesture-explanation__label">Cycles the cutting plane orientation in reverse</div>
    </div>
    <div class="gesture-explanation__row">
      <div class="gesture-explanation__label-bold">Swipe Top-Bottom</div>
      <div class="gesture-explanation__label">Resets the cutting plane orientation to XY</div>
    </div>
    <div class="gesture-explanation__row">
      <div class="gesture-explanation__label-bold">Second Touch Drag Left</div>
      <div class="gesture-explanation__label">Toggle visibility of the selected class</div>
    </div>
    <div class="gesture-explanation__row">
      <div class="gesture-explanation__label-bold">Second Touch Drag Right</div>
      <div class="gesture-explanation__label">Toggle visibility of all other classes</div>
    </div>
    <div class="gesture-explanation__row">
      <div class="gesture-explanation__label-bold">Second Touch Drag Down</div>
      <div class="gesture-explanation__label">Reset all class visibility changes</div>
    </div>
  </div>
</section>
