@if (classes.length > 0) {
  <div class="class-selector">
    <div class="class-selector__title">Gesteinsklassen</div>
    <div class="class-selector__items">
      @for (index of getDisplayIndices(); track index) {
        <button
          type="button"
          class="class-item"
          [class.class-item--hidden]="!isVisibleInCuttingPlane(index)"
          [class.class-item--context]="contextMenuClassIndex === index"
          [attr.aria-pressed]="isVisible(index)"
          (click)="toggle(index)"
          (dblclick)="setOnlyVisible(index)"
        >
          <span class="class-item__swatch" [style.background]="getClassColor(index)"></span>
          <span class="class-item__label">{{ classesInfo[index].name }}</span>
        </button>
      }
    </div>
  </div>
}
